h1{
    font-size: 40px;
    display:inline;
    color:white;
    
}
.first{
    display: flex;
}
.sec{
    padding: 45px;
}
header{
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    background-color:#131313 ;
    border-radius:20px;
    align-items: center;
    width: 100%;
    border-color: color;
    border: solid;
    border-width: 4px;
    position:sticky;
}
body{
    background-color:#363636 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.svn{
    position: relative;
    text-decoration: none;
    color:white;
}
body>*{
    display: flex;
    align-items: center;
    position: relative;
}
main>*{
    display: block;
}
main{
    display: flex;
    flex-direction: column;
    position: relative;
}
html{
    font-family: Montserrat Alternates;
}
p{
    font-size: 30px;
}
article{
    background-color:#131313;
    border-radius: 20px;
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid;
    border-width: 4px;
}
.nn{
    padding: 40px;
    align-items: center;
}
.ght{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    margin-bottom:60px ;
}
article>*{
    margin: 20px;
}
.img{
    border: solid;
    border-color: black;
    border-radius: 20px;
    margin: 25px;
    padding:15px;
    position: relative;
    border-width: 4px;
    background-color: rgb(91, 91, 91);
}
a{
    font-size: 20px;
}
.l{
    color:white;
}
p{
    color:white;
}
h1:hover{
    animation: g 10s infinite;
}

p::first-letter {
    font-size: 50px;
}
header~*{
     width: 100%;
}
p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}