#aaa{
    background-image: url('scale_1200 1.png');
    width: 532px;
    height: 401px;
}
#sss{
    background-image: url('content_shabbat-1 1.png');
    width: 681px;
    height: 404px;
}
#ddd{
    background-image: url('DSC_5363 1.png');
    width: 550px;
    height: 540px;
}
#fff{
    background-image: url('2(11) 1.png');
    width: 675px;
    height: 440px;
}
p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    color: white;
    font-family: Montserrat Alternates;
    font-size: 300%;
    position: relative;
    border: solid;
    border-radius: 20px;
    background-color: rgb(91, 91, 91);
    padding: 1%;
    display: flex;
    border-width: 4px;
    justify-content: center;
    border-color: black;
    height: 10%;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    margin-left:250px;
    margin-right:250px;
}
body{
    background-color:#363636 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    background-color:#131313;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px; 
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
    justify-content: center;
    border: solid;
    border-color: black;
    border-radius: 40px;
    border-width: 4px;
    margin-bottom: 2%;
}
.img{
    border: solid;
    background-color: rgb(91, 91, 91);
    border-radius: 20px;
    margin: 25px;
    padding:15px;
    position: relative;
    border-width: 4px;
    border-color: black;
    background-repeat: no-repeat;
}
header{
    background-color: rgb(91, 91, 91);
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#131313 ;
    border: solid;
    border-width: 4px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5%;
}
footer{
    display: flex;
    justify-content: center;
    border: solid;
    border-color: black;
    border-width: 4px;
    padding: 15px;
    border-radius: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
}
footer>a{
    text-decoration: none;
    margin-top:5%;
}
.text{
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width:400px){
    #aaa{
        background-image: url('scale_1200 1 — копия.png');
        width: 194px;
        height: 130px;
    }
    #sss{
        background-image: url('content_shabbat-1 1 — копия.png');
        width: 168px;
        height: 110px;
    }
    #ddd{
        background-image: url('DSC_5363 1 — копия.png');
        width: 120px;
        height: 110px;
    }
    #fff{
        background-image: url('2(11) 1 — копия.png');
        width: 150px;
        height: 80px;
    }
    h1{
        font-size: 100%;
        width: 20%;
        padding: 3%;
    }
    .i{
        font-size: 25px;
    }
}