#qqq{
    background-image: url('16820868961494520363 1 (1) — копия 2.png');
    width: 846px;
    height: 607px;
}
#www{
    background-image: url('buddd 2.png');
    width: 675px;
    height: 475px;
}
#eee{
    background-image: url('image 1.png');
    width: 584px;
    height: 290px;
}
#rrr{
    background-image: url('buddiyskiy-khram 1.png');
    width: 655px;
    height: 350px;
}
p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    color: white;
    font-family: Montserrat Alternates;
    font-size: 300%;
    position: relative;
    border: solid;
    border-radius: 20px;
    background-color: rgb(91, 91, 91);
    padding: 2%;
    display: flex;
    border-width: 4px;
    justify-content: center;
    border-color: black;
    height: 10%;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    margin-left:100px;
    margin-right: 100px;
}
body{
    background-color:#363636 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    background-color:#131313;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px; 
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
    justify-content: center;
    border: solid;
    border-color: black;
    border-radius: 40px;
    border-width: 4px;
    margin-bottom: 2%;
}
.img{
    border: solid;
    background-color: rgb(91, 91, 91);
    border-radius: 20px;
    margin: 25px;
    padding:15px;
    position: relative;
    border-width: 4px;
    border-color: black;
}
header{
    background-color: rgb(91, 91, 91);
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#131313 ;
    border: solid;
    border-width: 4px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5%;
}
footer{
    display: flex;
    justify-content: center;
    border: solid;
    border-color: black;
    border-width: 4px;
    padding: 15px;
    border-radius: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
}
footer>a{
    text-decoration: none;
    margin-top:5%;
}
.text{
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width:400px){
    #qqq{
        background-image: url('16820868961494520363 1 (1) — копия 3.png');
        width: 217px;
        height: 167px;
    }
    #www{
        background-image: url('buddd 2 — копия.png');
        width: 184px;
        height: 115px;
    }
    #eee{
        background-image: url('image 1 — копия.png');
        width: 220px;
        height: 100px;
    }
    #rrr{
        background-image: url('buddiyskiy-khram 1 — копия.png');
        width: 173px;
        height: 100px;
    }
    h1{
        font-size: 200%;
        padding: 5%;
        margin-left: 25px;
        margin-right: 25px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top:5px ;
    }
    header{
        width: 100%;
    }
}