
.z{
    background-image:url('6303_39130_c8d29aff641.png') ;
    width: 760px;
    height: 510px;
    border-radius: 10px;
}
.x{
    background-image:url('220px-Christos_Acheiropoietos1.png');
    width: 152px;
    height: 152px;
}
.c{
    background-image:url('Безназвания2(1).png') ;
    width: 152px;
    height: 152px;
}
.v{
    background-image:url('Безназвания(2)1(1).png') ;
    width: 152px;
    height: 152px;
}
.b{
    background-image:url('Безназвания1.png') ;
    width: 350px;
    height: 165px;
}
.l{
    background-image:url('images1.png') ;
    width: 350px;
    height: 165px;
}
p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    color: white;
    font-family: Montserrat Alternates;
    font-size: 300%;
    position: relative;
    border: solid;
    border-radius: 20px;
    background-color: rgb(91, 91, 91);
    padding: 2%;
    display: flex;
    border-width: 4px;
    justify-content: center;
    border-color: black;
    height: 10%;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    padding-left: 10%;
    padding-right: 10%;
}
body{
    background-color:#363636 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    background-color:#131313;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px; 
    display: flex;
    flex-wrap: wrap;
    padding: 35px;
    justify-content: center;
    border: solid;
    border-color: black;
    border-radius: 40px;
    border-width: 4px;
    margin-bottom: 2%;
}
.img{
    border: solid;
    background-color: rgb(91, 91, 91);
    border-radius: 20px;
    margin: 25px;
    padding:15px;
    position: relative;
    border-width: 4px;
    border-color: black;
}
header{
    background-color: rgb(91, 91, 91);
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#131313 ;
    border: solid;
    border-width: 4px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5%;
}
footer{
    display: flex;
    justify-content: center;
    border: solid;
    border-color: black;
    border-width: 5px;
    padding: 20px;
    border-radius: 25px;
    font-size:15px;
    font-family: 'Montserrat Alternates', sans-serif;
}
footer>a{
    text-decoration: none;
    margin-top:5%;
}
.text{
    color:white;
}
@media (max-width:450px){
    footer{
        width: 10000;
        font-size: 300px;
    }
    #k{
        width: 50%;
    }
    .z{
        background-image:url('6303_39130_c8d29aff641—copy.png') ;
        width: 194px;
        height: 130px;
    }
    .x{
        background-image:url('220px-Christos_Acheiropoietos1—copy.png');
        width: 194px;
        height: 130px;
    }
    .c{
        background-image:url('Безназвания2(1)—copy.png') ;
        width: 163px;
        height: 96px;
    }
    .v{
        background-image:url('Безназвания(2)1(1)—copy.png') ;
        width: 494px;
        height: 250px;
    }
    .b{
        background-image:url('Безназвания1—copy.png') ;
        width: 300px;
        height: 130px;
    }
    .l{
        background-image:url('images1—copy.png') ;
        width: 300px;
        height: 130px;
    }
    h1{
        padding: 20%;
    }
    footer{
        width: 38px;
        height: 10px;
        font-size: 30px;
    }
}